page-home {
    .home-menu {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .home-section {
        flex: 1;
        margin: 10px;
    }

    .what {
        background-color: #fcf1cf;
    }

    .where {
        background-color: #a6dba6;
    }

    .around-me {
        background-color: #9ec3f3;
    }

}
